<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient"
                type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="TicTacToeContext"
         connectionString="Server=2e82e482-e400-4333-98f5-a50400cfd02a.sqlserver.sequelizer.com;Database=db2e82e482e400433398f5a50400cfd02a;User ID=pmamylbeppwptois;Password=px8qL3j7StY5dVHXTJrkJ3eST86HDjS4SnY4KgyQscTNKfhXcd2mqihutoEM6JBH;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>